<strong>Olá, {{ student }}. Seja bem vindo!</strong><br />
<p>Segue os detalhes da sua incrição: </p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <strong>Valor: </strong> {{ price }} R$ <br />
  <br />
</p>
